
*{
  font-family: 'Montserrat', sans-serif;
}


html, body {
  overflow-x: hidden;
}



.navbar-collapse {
  text-align: center !important;
}

.bg-light {
  background-color: white !important;
}

/* 
.navbar-light .navbar-nav .nav-link {
  color: red !important;
  font-weight: 700;
  padding: 35px 10px ;
  margin-right: 10px ;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0,0,0,.5);
  background: #e7103b;
  padding: 35px 15px;
  margin-right: 10px;
  color:white !important;
} */

.navbar-light .navbar-nav .nav-link {
  color: #e7103b !important;
  font-weight: 700;
  padding: 35px 10px ;
  margin-right: 10px ;
}

.navbar-light .navbar-nav .nav-link:hover {

  background: #e7103b !important;
  padding: 35px 15px;
  margin-right: 10px;
  color:white !important;
}

.dropdown-menu {
  background: #e7103b;
  padding: 35px 15px;
  margin-right: 10px;
  color:white !important;

}
.dropdown-menu {
  color: #e7103b;
  text-align: center;

}

.dropdown-menu.show {
  position: absolute;
  left: auto;
  right: -100px;
  
}

.main-logo {
  width: 250px;
  height: 100px;
}

.bg-light {
  background-color: #f8f9fa!important;
  
  
}



.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}

.logoimg {
  text-align: center;
  width: 250px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.about-sec {
  margin-top: 50px;
  margin-bottom: 50px;
}

.aboutHeading {
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 50px;
}

@media screen and (max-width: 600px) {
  .aboutHeading {
    font-weight: 700;
    text-align: center;
    
    margin-bottom: 30px;
    font-size: 30px;
  }
}

.about {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.aboutimg {
  width: 50%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px
}


.Heading2 {
  font-weight: bolder;
  font-size: 50px;
 
}

.para-1{
   font-size: 18px;
}
 
.Heading3 {
	font-weight: bolder;
  margin: 30px 0 30px 0;
  font-weight: bolder;
  font-size: 50px;
}

.heading4 {
  font-weight: bolder;
  font-size: 50px;

}
.whatwedo {
	text-align: center;
	background-color: #e7103b;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
	
}

.ser-sec {
  padding-top: 60px;
  padding-bottom: 60px;
}

.Services {
	text-align: center;
  margin-top: 20px;
  
}

.ser-box {
    text-align: center;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 5px 5px 8px 2px #a8a8a8;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 15px;
    transition: transform .2s;
}

.ser-box:hover {
  background-color: #fd1d1d80;
  color: white;
  transform: scale(1.1);
 

}

.Section {

	text-align: center;
	color: white;
	margin: 30px 0 30px 0px;

}

.iconimg {
  width: 150px;
}



.back_img {
  background-color: #26272b;
  width: 100% !important;
  background-size: cover;
  border-bottom: 15px solid #e7103b;
  border-top: 15px solid #e7103b;
}

/* ------footer---- */
.footer {
  text-align: center;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#e7103b;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#e7103b;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#e7103b
}
.social-icons a.twitter:hover
{
  background-color:#e7103b
}
.social-icons a.linkedin:hover
{
  background-color:#e7103b
}
.social-icons a.dribbble:hover
{
  background-color:#e7103b
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
 
/* --------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------AbOUT PAGE------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------- */


.bg-img {
  background-image: url(Assets/ABOUT/image\ 2.jpg)
}
.bg-img {
  width: 100%;
  position: relative;
  bottom: 15px;
  height: 600px;
  padding-top: 175px;
  padding-bottom: 175px;
  
  

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


@media screen and (max-width: 760px) {
  .bg-img {
    
    margin-top: 60px;
  }
}




.pg2-sec-1 {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 45px;
  
}

.aboutus-h1 {
  color: white;
  font-weight: bolder;
  font-size: 62px;
}

.aboutus-p1 {
  color: white;
  font-weight: 600;
  font-size: 32px;
}

@media screen and (max-width: 600px){
  .aboutus-h1 {
    color: white;
    font-weight: bolder;
    font-size: 40px;
  }
  
  .aboutus-p1 {
    color: white;
    font-weight: 600;
    font-size: 20px;
  }
}

.pg-sec-img2 {
  width: 40%;
  text-align: center;
  
  
}

@media screen and (max-width: 760px) {
  .pg-sec-img2 {
    width: 70%;
  text-align: center;
  }
}

.pg-section-2 {
   text-align: center;
   margin-top: 50px;
   margin-bottom: 50px;
   
   
}

.sec-para-1 {
   font-size: 18px;
   font-weight: 400;
        
}

.about-sec-1 {
  text-align: center;
  margin-bottom: 50px;
}


.checkwork {
  width: 90%;
  
  padding: 5px 5px 5px 5px !important;
  transition: transform .2s;
  margin: 20px 20px 20px 20px !important;
  height: 250px;
  box-shadow: 6px 6px 10px 4px #929292;
}

.checkwork:hover {
  transform: scale(1.1);
  
  
}

.col-sm-4 {
  margin-bottom: 30px;
}

.recentwork {
  margin-bottom: 20px;
  font-weight: 600;
  color: #e7103b;
}



/* ............................... */

.contact-form2{
  background: #fff;
  
  
  width: 100%;
}
.contact-form2 .form-control{
  border-radius:1rem;
}
.contact-image{
  text-align: center;
}
.contact-image img{
  margin-top: 30px;
  width: 11%;
  
}
.contact-form2 form{
  padding: 14%;
}
.contact-form2 form .row{
  margin-bottom: -7%;
}
.contact-form2 h3{
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #e7103b;
}
.contact-form2 .btnContact {
  width: 60%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #e7103b;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.btnContactSubmit
{
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #e7103b;
  border: none;
  cursor: pointer;
} 

